CP_FIREBASE_API_KEY=
CP_FIREBASE_AUTH_DOMAIN=
CP_FIREBASE_PROJECT_ID=
CP_FIREBASE_STORAGE_BUCKET=
CP_FIREBASE_MESSAGING_SENDER_ID=
CP_FIREBASE_APP_ID=
CP_API_BASE_URL=http://localhost:4000
CP_FIREBASE_ENFORCE_ROLE_GUARDS=false